examples/de.dailab.vsdt-examples/projects/mams/Basisdienste.wsdl

<?xml version="1.0" encoding="ASCII"?>
<definitions xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://MAMS/Basisdienste/WSDL/"
	targetNamespace="http://MAMS/Basisdienste/WSDL/">

	<message name="GetCurrentUserRequest">
	</message>
	<message name="GetCurrentUserResponse">
		<part name="userID" type="string[]" />
	</message>
	
	<message name="GetGroupsFromUserRequest">
		<part name="userID" type="string[]" />
	</message>
	<message name="GetGroupsFromUserResponse">
		<part name="groupID" type="string[]" />
	</message>
	
	<message name="GetGroupNameByIdRequest">
		<part name="groupID" type="string[]" />
	</message>
	<message name="GetGroupNameByIdResponse">
		<part name="groupName" type="string[]" />
	</message>
	
	<message name="GetGroupMembersRequest">
		<part name="groupname" type="string[]" />
	</message>
	<message name="GetGroupMembersResponse">
		<part name="userID" type="string[]" />
	</message>
	
	<message name="GetUserNameByIdRequest">
		<part name="userID" type="string[]" />
	</message>
	<message name="GetUserNameByIdResponse">
		<part name="userName" type="string[]" />
	</message>
	
	<message name="GetPhoneNumberOfUserRequest">
		<part name="userID" type="string[]" />
	</message>
	<message name="GetPhoneNumberOfUserResponse">
		<part name="mobile" type="string[]" />
	</message>
	
	<message name="GetSIPOfUserRequest">
		<part name="userID" type="string[]" />
	</message>
	<message name="GetSIPOfUserResponse">
		<part name="sipAddr" type="string[]" />
	</message>
	
	<message name="GetEmailOfUserRequest">
		<part name="userID" type="string[]" />
	</message>
	<message name="GetEmailOfUserResponse">
		<part name="emailAddr" type="string[]" />
	</message>
	
	<message name="FormDialogRequest">
		<part name="inPartForm0" type="string[]" />
		<part name="inPartForm1" type="string[]" />
		<part name="inPartForm2" type="string[]" />
		<part name="inPartForm3" type="string[]" />
		<part name="inPartForm4" type="string[]" />
		<part name="inPartForm5" type="string[]" />
		<part name="inPartForm6" type="string[]" />
		<part name="inPartForm7" type="string[]" />
		<part name="inPartForm8" type="string[]" />
		<part name="inPartForm9" type="string[]" />
		<part name="inPartForm10" type="string[]" />
		<part name="inPartForm11" type="string[]" />
		<part name="inPartForm12" type="string[]" />
		<part name="inPartForm13" type="string[]" />
		<part name="inPartForm14" type="string[]" />
		<part name="inPartForm15" type="string[]" />
		<part name="inPartForm16" type="string[]" />
		<part name="inPartForm17" type="string[]" />
		<part name="inPartForm18" type="string[]" />
		<part name="inPartForm19" type="string[]" />
		<part name="inPartForm20" type="string[]" />
		<part name="inPartForm21" type="string[]" />
		<part name="inPartForm22" type="string[]" />
		<part name="inPartForm23" type="string[]" />
		<part name="inPartForm24" type="string[]" />
	</message>
	<message name="FormDialogResponse">
		<part name="outPartForm0" type="string[]" />
		<part name="outPartForm1" type="string[]" />
		<part name="outPartForm2" type="string[]" />
		<part name="outPartForm3" type="string[]" />
		<part name="outPartForm4" type="string[]" />
		<part name="outPartForm5" type="string[]" />
		<part name="outPartForm6" type="string[]" />
		<part name="outPartForm7" type="string[]" />
	</message>
	
	<!-- 
	GetCurrentUser : -> userID
	GetGroupsFromUser : userID -> groupID
	GetGroupNameById : groupID -> groupName
	GetGroupMembers : groupname -> userID
	GetUserNameById : userID -> userName
	GetPhoneNumberOfUser : userID -> mobile
	GetSIPOfUser : userID -> sipAddr
	GetEmailOfUser : userID -> emailAddr
	FormDialog : inPartForm0 ** ... ** inPartForm24 -> outPartForm0 ** ... ** outPartForm7
	-->
	 
	<portType name="UserManagement">
		<operation name="GetCurrentUser-ddb67308-f1ac-4824-9e74-a1ad74f5b2bb">
			<input message="tns:GetCurrentUserRequest" />
			<output message="tns:GetCurrentUserResponse" />
		</operation>
		<operation name="GetGroupsFromUser-ae151e95-a916-4e1a-ab40-80a832728ee5">
			<input message="tns:GetGroupsFromUserRequest" />
			<output message="tns:GetGroupsFromUserResponse" />
		</operation>
		<operation name="GetGroupNameById">
			<input message="tns:GetGroupNameByIdRequest" />
			<output message="tns:GetGroupNameByIdResponse" />
		</operation>
		<operation name="GetGroupMembers">
			<input message="tns:GetGroupMembersRequest" />
			<output message="tns:GetGroupMembersResponse" />
		</operation>
		<operation name="GetUserNameById">
			<input message="tns:GetUserNameByIdRequest" />
			<output message="tns:GetUserNameByIdResponse" />
		</operation>
	</portType>
	
	<portType name="Communication">
		<operation name="GetPhoneNumberOfUser-5a27720e-1f86-48e0-a492-300bc89fcfd2">
			<input message="tns:GetPhoneNumberOfUserRequest" />
			<output message="tns:GetPhoneNumberOfUserResponse" />
		</operation>
		<operation name="GetSIPOfUser">
			<input message="tns:GetSIPOfUserRequest" />
			<output message="tns:GetSIPOfUserResponse" />
		</operation>
		<operation name="GetEmailOfUser">
			<input message="tns:GetEmailOfUserRequest" />
			<output message="tns:GetEmailOfUserResponse" />
		</operation>
	</portType>
		
	<portType name="UserInterface">
		<operation name="FormDialog-e7a8a799-692a-4d5e-9d97-3a67b39aff10">
			<input message="tns:FormDialogRequest" />
			<output message="tns:FormDialogResponse" />
		</operation>
	</portType>

</definitions>