example-services/UPnPPowerControlWS/WebContent/wsdl/PowerControlServiceSOAP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sercho.org/PowerControl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LampService" targetNamespace="http://sercho.org/PowerControl/">

  <wsdl:message name="SwitchRequest">
    <wsdl:part name="deviceName" type="xsd:string"/>
    <wsdl:part name="onOff" type="xsd:integer"/>
  </wsdl:message>
  
  <wsdl:message name="SwitchResponse">
    <wsdl:part name="state" type="xsd:integer"/>
  </wsdl:message>
  
  <wsdl:message name="StateRequest">
    <wsdl:part name="deviceName" type="xsd:string"/>
  </wsdl:message>
  
  <wsdl:message name="StateResponse">
    <wsdl:part name="state" type="xsd:integer"/>
  </wsdl:message>
  
  
  <wsdl:portType name="PowerControlPT">
    <wsdl:operation name="switchOnOff">
      <wsdl:input message="tns:SwitchRequest"/>
      <wsdl:output message="tns:SwitchResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getState">
      <wsdl:input message="tns:StateRequest"/>
      <wsdl:output message="tns:StateResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="PowerControlServiceSOAP" type="tns:PowerControlPT">
  	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  	<wsdl:operation name="switchOnOff">
  		<soap:operation soapAction="http://sercho.org/PowerControl/switchOnOff"/>
  		<wsdl:input>
	 		<soap:body namespace="http://sercho.org/PowerControl/" use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
	 		<soap:body namespace="http://sercho.org/PowerControl/" use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="getState">
  		<soap:operation soapAction="http://sercho.org/PowerControl/getState"/>
  		<wsdl:input>
	 		<soap:body namespace="http://sercho.org/PowerControl/" use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
	 		<soap:body namespace="http://sercho.org/PowerControl/" use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="PowerControlService">
    <wsdl:port binding="tns:PowerControlServiceSOAP" name="PowerControlServiceSOAP">
      <soap:address location="http://localhost:8080/UPnPPowerControlWS/services/PowerControlServiceSOAP"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>
