example-services/processes/LightAlarm/wsdl/LightAlarm_ParticipantService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://LightAlarm/WSDL/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://LightAlarm/WSDL/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

 <plnk:partnerLinkType name="LightAlarm_Participant_PLT" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

     <plnk:role name="LightAlarm_Participant_myRole" portType="tns:LightAlarmPT"/>

 </plnk:partnerLinkType>
 <plnk:partnerLinkType name="Logging_Participant_PLT" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

     <plnk:role name="Logging_Participant_partnerRole" portType="tns:LoggingPT"/>

 </plnk:partnerLinkType>
 <plnk:partnerLinkType name="WeatherProxy_Participant_PLT" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

     <plnk:role name="WeatherProxy_Participant_partnerRole" portType="tns:WeatherProxyPT"/>

 </plnk:partnerLinkType>
 <plnk:partnerLinkType name="IvistarProxy_Participant_PLT" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

     <plnk:role name="IvistarProxy_Participant_partnerRole" portType="tns:IvistarProxyPT"/>

 </plnk:partnerLinkType>
 <plnk:partnerLinkType name="SheaSimulator_Participant_PLT" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

     <plnk:role name="SheaSimulator_Participant_partnerRole" portType="tns:SheaSimulatorPT"/>

 </plnk:partnerLinkType>
 <plnk:partnerLinkType name="UPnPRadio_Participant_PLT" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

     <plnk:role name="UPnPRadio_Participant_partnerRole" portType="tns:UPnPRadioPT"/>

 </plnk:partnerLinkType>
   <wsdl:message name="IsInZoneResponse_MessageDataMessage">

      <wsdl:part name="isin" type="xsd:integer"/>

   </wsdl:message>

   <wsdl:message name="initProcessRequest_MessageDataMessage">

      <wsdl:part name="paramUsername" type="xsd:string"/>

      <wsdl:part name="paramWaketime" type="xsd:string"/>

      <wsdl:part name="paramCity" type="xsd:string"/>

      <wsdl:part name="paramCountry" type="xsd:string"/>

      <wsdl:part name="paramRoomName" type="xsd:string"/>

      <wsdl:part name="paramLightIDs" type="xsd:string"/>

      <wsdl:part name="paramBlindsIDs" type="xsd:string"/>

      <wsdl:part name="paramUseLight" type="xsd:boolean"/>

      <wsdl:part name="paramUseMusic" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="IsInZoneRequest_MessageDataMessage">

      <wsdl:part name="username" type="xsd:string"/>

      <wsdl:part name="zone" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="LightAlarm_Process_ProcessDataMessage">

      <wsdl:part name="inUsername" type="xsd:string"/>

      <wsdl:part name="inWaketime" type="xsd:string"/>

      <wsdl:part name="inCity" type="xsd:string"/>

      <wsdl:part name="inCountry" type="xsd:string"/>

      <wsdl:part name="inRoomName" type="xsd:string"/>

      <wsdl:part name="inLightIDs" type="xsd:string"/>

      <wsdl:part name="inBlindsIDs" type="xsd:string"/>

      <wsdl:part name="inUseLight" type="xsd:boolean"/>

      <wsdl:part name="inUseMusic" type="xsd:boolean"/>

      <wsdl:part name="tmpWeather" type="xsd:string"/>

      <wsdl:part name="tmpDimStep" type="xsd:integer"/>

      <wsdl:part name="tmpInBed" type="xsd:integer"/>

      <wsdl:part name="tmpVolume" type="xsd:integer"/>

   </wsdl:message>

   <wsdl:message name="GetWeatherResponse_MessageDataMessage">

      <wsdl:part name="weatherdata" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="PlayRequest_MessageDataMessage">

   </wsdl:message>

   <wsdl:message name="GetWeatherRequest_MessageDataMessage">

      <wsdl:part name="country" type="xsd:string"/>

      <wsdl:part name="city" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="logRequest_MessageDataMessage">

      <wsdl:part name="message" type="xsd:string"/>

      <wsdl:part name="level" type="xsd:integer"/>

   </wsdl:message>

   <wsdl:message name="SetValueRequest_MessageDataMessage">

      <wsdl:part name="value" type="xsd:string"/>

      <wsdl:part name="line" type="xsd:string"/>

      <wsdl:part name="room" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="PauseRequest_MessageDataMessage">

   </wsdl:message>

   <wsdl:portType name="WeatherProxyPT">

      <wsdl:operation name="GetWeather">

         <wsdl:input message="tns:GetWeatherRequest_MessageDataMessage"/>

         <wsdl:output message="tns:GetWeatherResponse_MessageDataMessage"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:portType name="UPnPRadioPT">

      <wsdl:operation name="Play">

         <wsdl:input message="tns:PlayRequest_MessageDataMessage"/>

      </wsdl:operation>

      <wsdl:operation name="Pause">

         <wsdl:input message="tns:PauseRequest_MessageDataMessage"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:portType name="IvistarProxyPT">

      <wsdl:operation name="SetValue">

         <wsdl:input message="tns:SetValueRequest_MessageDataMessage"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:portType name="LightAlarmPT">

      <wsdl:operation name="initProcess">

         <wsdl:input message="tns:initProcessRequest_MessageDataMessage"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:portType name="SheaSimulatorPT">

      <wsdl:operation name="IsInZone">

         <wsdl:input message="tns:IsInZoneRequest_MessageDataMessage"/>

         <wsdl:output message="tns:IsInZoneResponse_MessageDataMessage"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:portType name="LoggingPT">

      <wsdl:operation name="log">

         <wsdl:input message="tns:logRequest_MessageDataMessage"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="LightAlarm_ParticipantServiceBinding" type="tns:LightAlarmPT">

      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>

      <wsdl:operation name="initProcess">

       <soap:operation soapAction="" style="rpc" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>

         <wsdl:input>

        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>

         </wsdl:input>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="LightAlarm_ParticipantService">

      <wsdl:port binding="tns:LightAlarm_ParticipantServiceBinding" name="LightAlarm_ParticipantServicePort">

       <soap:address location="http://localhost:8080/active-bpel/services/LightAlarm_ParticipantService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
