example-services/SheaSimulatorWS/WebContent/wsdl/SheaSimulatorServiceSOAP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sercho.org/SheaSimulator/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SheaSimulatorWS" targetNamespace="http://sercho.org/SheaSimulator/">

  <wsdl:message name="StartSimulatorRequest"/>
  
  <wsdl:message name="StartSimulatorResponse">
    <wsdl:part name="message" type="xsd:string"/>
  </wsdl:message>
    
  <wsdl:message name="GetLocationRequest">
    <wsdl:part name="username" type="xsd:string"/>
  </wsdl:message>
  
  <wsdl:message name="GetLocationResponse">
    <wsdl:part name="roomname" type="xsd:string"/>
    <wsdl:part name="posx" type="xsd:float"/>
    <wsdl:part name="posy" type="xsd:float"/>
    <wsdl:part name="posz" type="xsd:float"/>
    <wsdl:part name="zones" type="xsd:string"/>
  </wsdl:message>

  <wsdl:message name="IsInZoneRequest">
    <wsdl:part name="username" type="xsd:string"/>
    <wsdl:part name="zone" type="xsd:string"/>
  </wsdl:message>
  
  <wsdl:message name="IsInZoneResponse">
    <wsdl:part name="isin" type="xsd:integer"/>
  </wsdl:message>
  
  <wsdl:message name="GetLightRequest">
    <wsdl:part name="id" type="xsd:string"/>
  </wsdl:message>
  
  <wsdl:message name="GetLightResponse">
    <wsdl:part name="state" type="xsd:integer"/>
  </wsdl:message>
  
  <wsdl:message name="SetLightRequest">
    <wsdl:part name="id" type="xsd:string"/>
    <wsdl:part name="state" type="xsd:integer"/>
  </wsdl:message>
  
  <wsdl:message name="SetLightResponse"/>
  
  
  <wsdl:portType name="SheaSimulatorPT">
    <wsdl:operation name="StartSimulator">
      <wsdl:input message="tns:StartSimulatorRequest"/>
      <wsdl:output message="tns:StartSimulatorResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetLocation">
      <wsdl:input message="tns:GetLocationRequest"/>
      <wsdl:output message="tns:GetLocationResponse"/>
    </wsdl:operation>
    <wsdl:operation name="IsInZone">
      <wsdl:input message="tns:IsInZoneRequest"/>
      <wsdl:output message="tns:IsInZoneResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetLight">
      <wsdl:input message="tns:GetLightRequest"/>
      <wsdl:output message="tns:GetLightResponse"/>
    </wsdl:operation>
    <wsdl:operation name="SetLight">
      <wsdl:input message="tns:SetLightRequest"/>
      <wsdl:output message="tns:SetLightResponse"/>
    </wsdl:operation>
  </wsdl:portType>


  <wsdl:binding name="SheaSimulatorSOAP" type="tns:SheaSimulatorPT">
  	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  	<wsdl:operation name="StartSimulator">
  		<soap:operation soapAction="http://sercho.org/SheaSimulator/StartSimulator"/>
  		<wsdl:input>
	 		<soap:body namespace="http://sercho.org/SheaSimulator/" use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body namespace="http://sercho.org/SheaSimulator/" use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="GetLocation">
  		<soap:operation soapAction="http://sercho.org/SheaSimulator/GetLocation"/>
  		<wsdl:input>
	 		<soap:body namespace="http://sercho.org/SheaSimulator/" use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body namespace="http://sercho.org/SheaSimulator/" use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="IsInZone">
  		<soap:operation soapAction="http://sercho.org/SheaSimulator/IsInZone"/>
  		<wsdl:input>
	 		<soap:body namespace="http://sercho.org/SheaSimulator/" use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body namespace="http://sercho.org/SheaSimulator/" use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="GetLight">
  		<soap:operation soapAction="http://sercho.org/SheaSimulator/GetLight"/>
  		<wsdl:input>
	 		<soap:body namespace="http://sercho.org/SheaSimulator/" use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body namespace="http://sercho.org/SheaSimulator/" use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="SetLight">
  		<soap:operation soapAction="http://sercho.org/SheaSimulator/SetLight"/>
  		<wsdl:input>
	 		<soap:body namespace="http://sercho.org/SheaSimulator/" use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body namespace="http://sercho.org/SheaSimulator/" use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="SheaSimulatorService">
    <wsdl:port binding="tns:SheaSimulatorSOAP" name="SheaSimulatorServiceSOAP">
      <soap:address location="http://localhost:8080/SheaSimulatorWS/services/SheaSimulatorServiceSOAP"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>
