example-services/processes/EnergySaving/wsdl/EnergySaving.wsdl

<?xml version="1.0" encoding="ASCII"?>
<wsdl:definitions xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://EnergySaving/WSDL/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://EnergySaving/WSDL/">
  <plnk:partnerLinkType name="EnergySaving_Participant_PLT">
    <plnk:role name="EnergySaving_Participant_myRole" portType="tns:EnergySavingPT"/>
  </plnk:partnerLinkType>
  <plnk:partnerLinkType name="Logging_Participant_PLT">
    <plnk:role name="Logging_Participant_partnerRole" portType="tns:LoggingPT"/>
  </plnk:partnerLinkType>
  <plnk:partnerLinkType name="Location_Participant_PLT">
    <plnk:role name="Location_Participant_partnerRole" portType="tns:SheaSimulatorPT"/>
  </plnk:partnerLinkType>
  <plnk:partnerLinkType name="Light_Participant_PLT">
    <plnk:role name="Light_Participant_partnerRole" portType="tns:IvistarProxyPT"/>
  </plnk:partnerLinkType>
  <plnk:partnerLinkType name="Radio_Participant_PLT">
    <plnk:role name="Radio_Participant_partnerRole" portType="tns:UPnPRadioPT"/>
  </plnk:partnerLinkType>
  <wsdl:message name="StartMessage_MessageDataMessage">
    <wsdl:part name="paramUserName" type="xsd:string"/>
    <wsdl:part name="paramDelaySec" type="xsd:integer"/>
    <wsdl:part name="paramZone" type="xsd:string"/>
    <wsdl:part name="paramLightLine" type="xsd:string"/>
    <wsdl:part name="paramRoom" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="logRequest_MessageDataMessage">
    <wsdl:part name="message" type="xsd:string"/>
    <wsdl:part name="level" type="xsd:integer"/>
  </wsdl:message>
  <wsdl:message name="IsInZoneRequest_MessageDataMessage">
    <wsdl:part name="username" type="xsd:string"/>
    <wsdl:part name="zone" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="IsInZoneResponse_MessageDataMessage">
    <wsdl:part name="isin" type="xsd:integer"/>
  </wsdl:message>
  <wsdl:message name="SetValueRequest_MessageDataMessage">
    <wsdl:part name="value" type="xsd:string"/>
    <wsdl:part name="line" type="xsd:string"/>
    <wsdl:part name="room" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="PlayPauseRequest_MessageDataMessage">
    <wsdl:part name="paramState" type="xsd:integer"/>
  </wsdl:message>
  <wsdl:message name="StopMessage_MessageDataMessage"/>
  <wsdl:message name="EnergySavingProcess_ProcessDataMessage">
    <wsdl:part name="inUserName" type="xsd:string"/>
    <wsdl:part name="inDelay" type="xsd:integer"/>
    <wsdl:part name="inZone" type="xsd:string"/>
    <wsdl:part name="inRoom" type="xsd:string"/>
    <wsdl:part name="inLightLine" type="xsd:string"/>
    <wsdl:part name="tmpState" type="xsd:integer"/>
    <wsdl:part name="tmpLastState" type="xsd:integer"/>
  </wsdl:message>
  <wsdl:portType name="EnergySavingPT">
    <wsdl:operation name="start">
      <wsdl:input message="tns:StartMessage_MessageDataMessage"/>
    </wsdl:operation>
    <wsdl:operation name="stop">
      <wsdl:input message="tns:StopMessage_MessageDataMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LoggingPT">
    <wsdl:operation name="log">
      <wsdl:input message="tns:logRequest_MessageDataMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SheaSimulatorPT">
    <wsdl:operation name="IsInZone">
      <wsdl:input message="tns:IsInZoneRequest_MessageDataMessage"/>
      <wsdl:output message="tns:IsInZoneResponse_MessageDataMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IvistarProxyPT">
    <wsdl:operation name="SetValue">
      <wsdl:input message="tns:SetValueRequest_MessageDataMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="UPnPRadioPT">
    <wsdl:operation name="PlayPause">
      <wsdl:input message="tns:PlayPauseRequest_MessageDataMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  
  
  
  <wsdl:binding name="Logging" type="tns:LoggingPT">
  	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  	<wsdl:operation name="log">
  		<soap:operation soapAction="http://de.dailab.service/Logging/log"/>
  		<wsdl:input>
	 		<soap:body namespace="http://de.dailab.service/Logging/" use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body namespace="http://de.dailab.service/Logging/" use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="LoggingService">
    <wsdl:port binding="tns:Logging" name="LoggingPort">
      <soap:address location="http://localhost:8080/LoggingWS/services/LoggingPort"/>
    </wsdl:port>
  </wsdl:service>
  
  
  <wsdl:binding name="UPnPRadioSOAP" type="tns:UPnPRadioPT">
  	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  	<wsdl:operation name="PlayPause">
  		<soap:operation soapAction="http://sercho.org/UPnPRadio/Play"/>
  		<wsdl:input>
	 		<soap:body namespace="http://sercho.org/UPnPRadio/" use="literal"/>
  		</wsdl:input>
  	</wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="UPnPRadioService">
    <wsdl:port binding="tns:UPnPRadioSOAP" name="UPnPRadioServiceSOAP">
      <soap:address location="http://localhost:8080/UPnPRadioWS/services/UPnPRadioServiceSOAP"/>
    </wsdl:port>
  </wsdl:service>
  
  
  <wsdl:binding name="SheaSimulatorSOAP" type="tns:SheaSimulatorPT">
  	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  	<wsdl:operation name="IsInZone">
  		<soap:operation soapAction="http://sercho.org/SheaSimulator/IsInZone"/>
  		<wsdl:input>
	 		<soap:body namespace="http://sercho.org/SheaSimulator/" use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body namespace="http://sercho.org/SheaSimulator/" use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="SheaSimulatorService">
    <wsdl:port binding="tns:SheaSimulatorSOAP" name="SheaSimulatorServiceSOAP">
      <soap:address location="http://localhost:8080/SheaSimulatorWS/services/SheaSimulatorServiceSOAP"/>
    </wsdl:port>
  </wsdl:service>
  
  
  
  <wsdl:binding name="IvistarProxySOAP" type="tns:IvistarProxyPT">
  	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  	<wsdl:operation name="SetValue">
  		<soap:operation soapAction="http://sercho.org/Ivistar/SetValue"/>
  		<wsdl:input>
	 		<soap:body namespace="http://sercho.org/Ivistar/" use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
	 		<soap:body namespace="http://sercho.org/Ivistar/" use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="IvistarProxyService">
    <wsdl:port binding="tns:IvistarProxySOAP" name="IvistarProxyServiceSOAP">
      <soap:address location="http://localhost:8080/IvistarProxyWS/services/IvistarProxyServiceSOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>