example-services/eGrainsWS/WebContent/wsdl/eGrainsServiceSOAP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sercho.org/eGrains/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="eGrainsService" targetNamespace="http://sercho.org/eGrains/">

  <wsdl:message name="IntegerMessage">
    <wsdl:part name="value" type="xsd:integer"/>
  </wsdl:message>
  
  <wsdl:message name="BooleanMessage">
    <wsdl:part name="value" type="xsd:boolean"/>
  </wsdl:message>
  
  <wsdl:message name="FloatMessage">
    <wsdl:part name="value" type="xsd:float"/>
  </wsdl:message>
  
  <wsdl:message name="StringMessage">
    <wsdl:part name="value" type="xsd:string"/>
  </wsdl:message>
  
  <wsdl:message name="EmptyMessage"/>
  
  <wsdl:portType name="eGrainsPT">
    <wsdl:operation name="connect">
      <wsdl:input message="tns:StringMessage"/>
      <wsdl:output message="tns:EmptyMessage"/>
    </wsdl:operation>
    <wsdl:operation name="disconnect">
      <wsdl:input message="tns:EmptyMessage"/>
      <wsdl:output message="tns:EmptyMessage"/>
    </wsdl:operation>
    <wsdl:operation name="getTemperature">
      <wsdl:input message="tns:IntegerMessage"/>
      <wsdl:output message="tns:FloatMessage"/>
    </wsdl:operation>
    <wsdl:operation name="getIDs">
      <wsdl:input message="tns:EmptyMessage"/>
      <wsdl:output message="tns:StringMessage"/>
    </wsdl:operation>
    <wsdl:operation name="isRegistered">
      <wsdl:input message="tns:IntegerMessage"/>
      <wsdl:output message="tns:BooleanMessage"/>
    </wsdl:operation>
    <wsdl:operation name="isEnabled">
      <wsdl:input message="tns:IntegerMessage"/>
      <wsdl:output message="tns:BooleanMessage"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="eGrainsServiceSOAP" type="tns:eGrainsPT">
  	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  	<wsdl:operation name="connect">
  		<soap:operation soapAction="http://sercho.org/eGrains/connect"/>
  		<wsdl:input>
	 		<soap:body namespace="http://sercho.org/eGrains/" use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
	 		<soap:body namespace="http://sercho.org/eGrains/" use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="disconnect">
  		<soap:operation soapAction="http://sercho.org/eGrains/disconnect"/>
  		<wsdl:input>
	 		<soap:body namespace="http://sercho.org/eGrains/" use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
	 		<soap:body namespace="http://sercho.org/eGrains/" use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="getTemperature">
  		<soap:operation soapAction="http://sercho.org/eGrains/getTemperature"/>
  		<wsdl:input>
	 		<soap:body namespace="http://sercho.org/eGrains/" use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
	 		<soap:body namespace="http://sercho.org/eGrains/" use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="getIDs">
  		<soap:operation soapAction="http://sercho.org/eGrains/getIDs"/>
  		<wsdl:input>
	 		<soap:body namespace="http://sercho.org/eGrains/" use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
	 		<soap:body namespace="http://sercho.org/eGrains/" use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="isRegistered">
  		<soap:operation soapAction="http://sercho.org/eGrains/isRegistered"/>
  		<wsdl:input>
	 		<soap:body namespace="http://sercho.org/eGrains/" use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
	 		<soap:body namespace="http://sercho.org/eGrains/" use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="isEnabled">
  		<soap:operation soapAction="http://sercho.org/eGrains/isEnabled"/>
  		<wsdl:input>
	 		<soap:body namespace="http://sercho.org/eGrains/" use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
	 		<soap:body namespace="http://sercho.org/eGrains/" use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="eGrainsService">
    <wsdl:port binding="tns:eGrainsServiceSOAP" name="eGrainsServiceSOAP">
      <soap:address location="http://localhost:8080/eGrainsWS/services/eGrainsServiceSOAP"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>
