example-services/UPnPRadioWS/UPnPRadioServiceSOAP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sercho.org/UPnPRadio/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UPnPRadioWS" targetNamespace="http://sercho.org/UPnPRadio/">

  <wsdl:message name="InitRequest">
  	<wsdl:part name="deviceID" type="xsd:string"/>
  </wsdl:message>
  
  <wsdl:message name="PlayRequest"/>
  
  <wsdl:message name="PauseRequest"/>
  
  <wsdl:message name="StopRequest"/>
  
  <wsdl:message name="PlayPauseRequest">
  	<wsdl:part name="state" type="xsd:integer"/>
  </wsdl:message>
  
  <wsdl:message name="SetVolumeRequest">
  	<wsdl:part name="volume" type="xsd:integer"/>
  </wsdl:message>
  
  <wsdl:message name="SetAVTransportURIRequest">
    <wsdl:part name="url" type="xsd:string"/>
  </wsdl:message>
  
  <wsdl:portType name="UPnPRadioPT">
    <wsdl:operation name="Init">
      <wsdl:input message="tns:InitRequest"/>
    </wsdl:operation>
    <wsdl:operation name="SetAVTransportURI">
      <wsdl:input message="tns:SetAVTransportURIRequest"/>
    </wsdl:operation>
    <wsdl:operation name="PlayPause">
      <wsdl:input message="tns:PlayPauseRequest"/>
    </wsdl:operation>
    <wsdl:operation name="Play">
      <wsdl:input message="tns:PlayRequest"/>
    </wsdl:operation>
    <wsdl:operation name="Pause">
      <wsdl:input message="tns:PauseRequest"/>
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <wsdl:input message="tns:StopRequest"/>
    </wsdl:operation>
    <wsdl:operation name="SetVolume">
      <wsdl:input message="tns:SetVolumeRequest"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="UPnPRadioSOAP" type="tns:UPnPRadioPT">
  	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  	<wsdl:operation name="SetAVTransportURI">
  		<soap:operation soapAction="http://sercho.org/UPnPRadio/SetAVTransportURI"/>
  		<wsdl:input>
	 		<soap:body namespace="http://sercho.org/UPnPRadio/" use="literal"/>
  		</wsdl:input>
  	</wsdl:operation>
  	<wsdl:operation name="SetVolume">
  		<soap:operation soapAction="http://sercho.org/UPnPRadio/SetVolume"/>
  		<wsdl:input>
	 		<soap:body namespace="http://sercho.org/UPnPRadio/" use="literal"/>
  		</wsdl:input>
  	</wsdl:operation>
  	<wsdl:operation name="Stop">
  		<soap:operation soapAction="http://sercho.org/UPnPRadio/Stop"/>
  		<wsdl:input>
	 		<soap:body namespace="http://sercho.org/UPnPRadio/" use="literal"/>
  		</wsdl:input>
  	</wsdl:operation>
    <wsdl:operation name="Init">
  		<soap:operation soapAction="http://sercho.org/UPnPRadio/Init"/>
  		<wsdl:input>
	 		<soap:body namespace="http://sercho.org/UPnPRadio/" use="literal"/>
  		</wsdl:input>
  	</wsdl:operation>
  	<wsdl:operation name="PlayPause">
  		<soap:operation soapAction="http://sercho.org/UPnPRadio/PlayPause"/>
  		<wsdl:input>
	 		<soap:body namespace="http://sercho.org/UPnPRadio/" use="literal"/>
  		</wsdl:input>
  	</wsdl:operation>
  	<wsdl:operation name="Play">
  		<soap:operation soapAction="http://sercho.org/UPnPRadio/Play"/>
  		<wsdl:input>
	 		<soap:body namespace="http://sercho.org/UPnPRadio/" use="literal"/>
  		</wsdl:input>
  	</wsdl:operation>
  	<wsdl:operation name="Pause">
  		<soap:operation soapAction="http://sercho.org/UPnPRadio/Pause"/>
  		<wsdl:input>
	 		<soap:body namespace="http://sercho.org/UPnPRadio/" use="literal"/>
  		</wsdl:input>
  	</wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="UPnPRadioService">
    <wsdl:port binding="tns:UPnPRadioSOAP" name="UPnPRadioServiceSOAP">
      <soap:address location="http://localhost:8080/UPnPRadioWS/services/UPnPRadioServiceSOAP"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>
